body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: rgb(240, 240, 240);
  font-family: IBM Plex Sans;
}

html, body, #root {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}